{% extends 'base.html.twig' %}



{% block body %} 

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled" id="navNombremunicipio">{{ municipio }}</a>
  </li>
</ul>


    <div class="pregunta"></div>

     <button id="btnsiguiente" onclick="printHTMLQuestion(i)" class="btn btn-outline-light">Siguiente</button>


<input type="text" name="urlList" id="urlList" value="{{ path('app_cuestionario_list') }}" style="visibility:hidden">
   
   
    <script type="text/javascript">

    let cuestionario = [];
    let i=0; //variable para que vaya recorriendo de a una las preguntas

//enviar respuesta a php
let url = document.getElementById('urlList').value;
let currentQuestionIndex = 0;
 var respuestaSeleccionada;  
       
        


 async function fetchh() {
    //espera hasta que se completa la llamada a la url con await, hasta q no termine la llamada a la base de datos no ejecuta
    const result = await fetch(url).then((res) => res.json()).then((res) => { //en res tengo el objeto completo de preguntas y respuestas 
     
      cuestionario = res; //le asigno el objeto res a mi variable global cuestionario
    
    });
    printHTMLQuestion(i);
};



const evaluateAnswer=(variable,pregunta) =>{

  var municipio = document.getElementById('navNombremunicipio').innerHTML; //tomo el texto del municipio
  respuestaSeleccionada=variable;

  var datos={};
  datos.pregunta=pregunta;
  datos.respuesta=variable;
  datos.municipio=municipio;

  
}
 function  printHTMLQuestion() {
   
  if (i >= cuestionario.length) { //aca llamar a la plantilla de finalizacion
    alert('fin del arreglo');
    return;
  }

  let clave = cuestionario[i]; 
  
  let elemento = {
    'medicion':clave.medicion
    ,'rojo':clave.rojo
    ,'amarillo':clave.amarillo
    ,'verde':clave.verde
  };
 

  resp = [elemento.rojo, elemento.amarillo , elemento.verde]; //armo el arreglo con las respuesta para ponerla en los radio button  
  //al tocar el boton guarda la opcion que eligio, envio la respuesta y la pregunta
  const htmlRespuestasArray = resp.map( currentA => `<p><input type="radio" name="respondida" onClick="evaluateAnswer('${currentA}','${elemento.medicion}')"></button> <span>${currentA}</span></p>`); 

  const htmlRespuestas = htmlRespuestasArray.join(' '); //transformo el array donde hay espacios

  let htmlQuestionCode = `<p>${elemento.medicion}</p><div>${htmlRespuestas}</div>`; //coloco la pregunta y la respuestas en el div definido arriba
  document.querySelector('.pregunta').innerHTML = htmlQuestionCode; //esto es para que me muestre la pregunta y lo relacion con el div

var municipio = document.getElementById('navNombremunicipio').innerHTML;

var url = 'respuesta/new';
var data = {};


data.medicion=elemento.medicion;
data.respuesta=respuestaSeleccionada;
data.municipio=municipio;

$.ajax({
type: "POST",
url: "/respuesta/nuevo",
data: data
}).done(function( msg ) {
alert( "Data Saved: " + msg );
});


/*
fetch(url, {
  method: 'POST',
  body: JSON.stringify(data), // data can be `string` or {object}!
  headers:{
    'Content-Type': 'application/json'
  }
})
.then(response => response.json())
.catch(error => console.error('Error:', error))
.then(response => console.log('Success:', response));
*/

  i++;
 }


fetchh();



</script>
{% endblock %}