<form method="post" action="{{ path('app_respuesta_delete', {'idrespuesta': respuestum.idrespuesta}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ respuestum.idrespuesta) }}">
    <button class="btn">Delete</button>
</form>
